<% layout("/layouts/boilerplate.ejs") %>

<div
  class="d-flex justify-content-center align-items-center vh-100 bg-gradient-primary text-white"
>
  <div class="text-center p-5 rounded shadow-lg bg-white col-md-6">
    <div class="alert alert-danger" role="alert">
      <h1 class="display-3 fw-bold text-danger">Error</h1>
      <p class="lead text-dark"><%= message %></p>
    </div>

    <a href="/listings" class="btn btn-outline-primary btn-lg mt-4 px-5 py-2"
      >Return to Home</a
    >

    <button
      onclick="window.history.back()"
      class="btn btn-outline-secondary btn-lg mt-4 px-5 py-2 ml-4"
    >
      Go Back
    </button>
  </div>
</div>

<!-- <%= statusCode %> -->
