<% layout("/layouts/boilerplate") %>

<div class="login-main-div">
  <h1>Login For WanderNest</h1>
  <div class="form-div">
    <form action="/login" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          required
          class="form-control"
        />
        <div class="invalid-feedback">username is required!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
          class="form-control"
        />
        <div class="invalid-feedback">password is required!</div>
      </div>
      <button class="login-btn" type="submit">Login</button>
    </form>
    <div class="signup-line">
       New to WanderNest? Join us and start your adventure today!  
      <span><a href="/signup">SignUp</a></span>
    </div>
  </div>
</div>
