<% layout("/layouts/boilerplate") %>

<div class="signup-main-div">
  <h1>SignUp For WanderNest</h1>
  <div class="signup-form-div">
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="invalid-feedback">username is required!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          class="form-control"
        />
        <div class="invalid-feedback">email is required!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
          class="form-control"
        />
        <div class="invalid-feedback">password is required!</div>
      </div>
      <button class="signup-btn" type="submit">SignUp</button>
    </form>
    <div class="login-line"> 
      Welcome back, traveler! Ready to explore more?  <span><a href="/login">Login</a></span>
    </div>
  </div>
</div>
